# Documents
/docs/_*
/docs/*.log

# Cache
*__pycache__*

# Debug logs
/debug/*

# Builds
/build/*
/dist/*
*egg-info*

# Star catalogue
/BSC5*

# Databases except the default
*.npz
!/default_database.npz

# Other files
**/.DS_Store
**/.vscode
